.about_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* margin: 1rem 5rem; */
    transition: all 0.5s ease-in-out;
    text-align: center;
    padding-bottom: 5rem;
}

/* .about_title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 7vw;
} */

.about_us {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about_winnie, .about_sharon {
    padding: 0 0.5rem;
    flex: 1;
    transition: all 0.5s ease-in-out;
}

.about_winnie {
    overflow: hidden;
    display: flex;
    width: 450px;
    height: 500px;
    background-image: url("../../public/Brand-Photos-10.jpg");
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
}

.about_sharon {
    overflow: hidden;
    display: flex;
    width: 450px;
    height: 500px;
    background-image: url("../../public/About-me-sharon.JPG");
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
}

.about_content_baker {
    background-image: url("../../public/About-me-baker-orange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 450px;
    height: 500px;
    text-align: left;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 15px;
}

.about_content_barista {
    background-image: url("../../public/About-me-barista.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 450px;
    height: 500px;
    text-align: left;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 15px;
}

.about_content_baker:hover {
    background-image: none;
    transition: all 0.5s ease-in-out;
}

.about_content_baker p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: #F0EADE;
}

.about_content_baker p:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.about_content_baker:hover  {
    background-color: #BF5D30;
    transition: all 0.5s ease-in-out;
}

.about_content_barista:hover {
    background-image: none;
    transition: all 0.5s ease-in-out;
}

.about_content_barista p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: #F0EADE;
}

.about_content_barista p:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.about_content_barista:hover  {
    background-color: #BF5D30;
    transition: all 0.5s ease-in-out;
}