/* DESKTOP STYLING */
.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu {
    display: inline-flex;
    padding: 0;
}

.menu li {
    padding: 0 1.5rem;
}

/* RESPONSIVE QUERIES */

/* MOBILE */
@media screen and (max-width: 720px) {
    
}