/* DESKTOP STYLING */
.navbar {
    padding: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu {
    display: inline-flex;
    padding: 0 1.5rem;
    background-color: #BF5D30;
    border-radius: 50px;
}

.menu li {
    padding: 0 1.5rem;
}

.menu_item {
    transition: transform 0.2s ease, 0.2s ease;
    /* color: #EDE8DB; */
    color: #F0EFEC;
}
/* RESPONSIVE QUERIES */

/* MOBILE */
@media screen and (max-width: 720px) {
    
}