@import url("https://use.typekit.net/lvm6owx.css");

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  /* background-color: #EDE8DB; */
  background-color: #F0EADE;
}

ul li {
  padding: 0;
  list-style: none;
}

/* TYPOGRAPHY */

h1 {
  font-family: "fields-display" ,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8.021vw;
  margin: 0.5rem;
  color: #BF5D30;
  line-height: 8rem;
}

h2 {
  font-size: 48px;
  font-family: "calibri",sans-serif;
  font-weight: 600;
  color: #BF5D30;
}

h3 {
  font-size: 20px;
  font-family: "calibri",sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 24px;
  font-family: "calibri",sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: "calibri",sans-serif;
  font-variation-settings: 'wght' 400;
  font-style: normal;
  font-size: 20px;
  color: #343434;
}

text {
  font-family: "fields-display" ,sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #343434;
}

.loader{
  height: calc(100vh + 200px);
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.loader svg{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.loader svg path{
  stroke: #BF5D30;
  stroke-width: 1px;
  fill: #BF5D30; /* Fill the shape with blue */
}

.loader-animation {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 2rem;
  color: #F0EADE;
  z-index: 2; 
  width: 180px;
}

.loader-text {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 2rem;
  color: #F0EADE;
  z-index: 2; 
}

.fading {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.container.fading {
  opacity: 0;
  visibility: hidden;
}

/* HEADER SECTION */
.hero-section {
  min-height: 50vh;
  display: flex;
  padding: 6rem 0 11rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-image {
  position: absolute;
  max-width: 90%;
  height: auto;
  top: 315px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.container.fading .hero-image {
  transform: scale(0.95); /* Optional for a shrinking effect */
  opacity: 0;
}

/* STORY SECTION */
.story-section {
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  background-color: #BF5D30;
  /* margin: 5rem 0 0 0; */
  /* gap: 2rem; */
  align-items: end;
}

.story-section-svg {
  display: block;
}

/* .box {
  --mask:
    radial-gradient(156.52px at 50% 210px,#000 99%,#0000 101%) calc(50% - 140px) 0/280px 51% repeat-x,
    radial-gradient(156.52px at 50% -140px,#0000 99%,#000 101%) 50% 70px/280px calc(51% - 70px) repeat-x,
    radial-gradient(156.52px at 50% calc(100% - 210px),#000 99%,#0000 101%) calc(50% - 140px) 100%/280px 51% repeat-x,
    radial-gradient(156.52px at 50% calc(100% + 140px),#0000 99%,#000 101%) 50% calc(100% - 70px)/280px calc(51% - 70px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
} */

.img-responsive {
  width: 300px;
  height: 400px;
  background-image: url('../public/our-story-resized.gif'); /* Specify the background image */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image in the container */
  background-repeat: no-repeat; /* Prevent tiling */
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 6px;
}

.story-content {
  display: flex;
  flex-direction: column;
  width: 56%;
  text-align: left;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}

.story-content h2{
  color: #F0EADE;
  margin: 1rem 0;
}

.story-content p{
  color: #F0EADE;
}

/* LOCATION SECTION */
.location-section {
  display: flex;
  /* background-color: #BF5D30; */
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 600px;
  align-items: center;
  gap: 10rem;
  margin-bottom: 3rem;
}

.location-title {
  margin-left: 3rem;
}

.location-title img{
  max-width: 100%;
  height: auto;
}

.location-title, .location-content {
  flex: 1;
  min-width: 200px;
}

.location-content p{
  color: rgb(58, 79, 19);
}

.location-title-alt {
  color: #EDE8DB;
  text-align: center;
}

/* IMAGE CARD SECTION */
.image-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9rem 0 2rem 0;
}

.image-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

/* MOBILE */
@media screen and (max-width: 720px) {
    .hero-section h1 {
      font-size: 5rem;
      line-height: 1.2;
      padding: 1rem;
    }

    .hero-image {
      width: 180px;
      top: auto;
      margin-top: 2rem;
    }

    .story-section {
      flex-wrap: wrap;
      padding: 2rem 0 0 0;
    }

    .story-content {
      width: 100%;
      padding: 2rem;
    }

    .image-card-container {
      flex-wrap: wrap;
      gap: 0;
    }

    .location-section {
      flex-direction: column;
      height: auto;
      gap: 0;
    }

    .location-title, .location-content {
      margin: 10px auto;
      text-align: center;
    }
    
    .morning-text {
      margin-top: 2rem;
    }

    .story-section-svg {
      width: 466px;
      transform: translate(-27px, 1px);
    }
  
    .story-section-svg-bottom {
      width: 432px;
      transform: translate(0px, -1px);
    }
}

@media screen and (max-width: 480px) {
  .hero-section h1 {
    font-size: 4rem;
    line-height: 1.2;
    padding: 1rem;
  }

  .hero-image {
    top: auto;
    max-width: 70%;
    width: 160px;
  }

  .story-section {
    padding: 2rem 0 0 0;
  }

  .story-section-svg {
    width: 466px;
    transform: translate(-27px, 1px);
  }

  .story-section-svg-bottom {
    width: 432px;
    transform: translate(0px, -1px);
  }

  .story-content {
      padding: 1rem;
  }

  .loader-text, .loader-animation {
      font-size: 1.5rem;
  }

  .location-section {
    gap: 0;
  }

  .morning-text {
    margin-top: 2rem;
  }
}